name: Publish Package to npmjs
on:
  push:
    branches:    
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'

      - run: yarn && yarn build

      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
